* {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    text-align: right;
    margin-right: 50px;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top:10px;
}
h2 {
   text-align: right;
   margin-right: 50px; 
   margin-bottom: 0px;
   margin-top: 0px;

}
hr {
    margin:0px;
}
body {
font-family: 'Maven Pro', sans-serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align:center;
   
}
.thumb {
     width: 100%;
    height: auto;
}

.profile {
    border-radius: 50px;
    float:left;
    margin-left: 50px;
    margin-top: 10px;
}
.main {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.row {
    width: 100%;
    display: flex;flex-wrap:wrap;

    
}

.col-1 {
    width: 8.33%;
     padding:10px;
}

.col-2 {
    width: 16.66%;
     padding:10px;
}

.col-3 {
    width: 25%;
     padding:10px;
}

.col-4 {
    width: 33.33%;
     padding:10px;
}

.col-5 {
    width: 41.66%;
     padding:10px;
}

.col-6 {
    width: 50%;
     padding:10px;
}

.col-7 {
    width: 58.33%;
     padding:10px;
}

.col-8 {
    width: 66.66%;
     padding:10px;
}

.col-9 {
    width: 75%;
     padding:10px;
}

.col-10 {
    width: 83.33%;
     padding:10px;
}

.col-11 {
    width: 91.66%;
    padding:10px;
}

.col-12 {
    width: 100%;
     padding:10px;
    
}
